<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmlmystore.justthemevalley.com/404error.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:37:41 GMT -->

<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyStore premium HTML5 &amp; CSS3 template</title>
    <meta name="description"
        content="best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
    <meta name="keywords"
        content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="shortcut icon" type="/image/x-icon" href="/favicon.ico">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800' rel='stylesheet'
        type='text/css'>

    <!-- CSS Style -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!-- font-awesome & simple line icons CSS -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css" media="all">

    <!-- owl.carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.transitions.css">
    <!-- animate CSS  -->
    <link rel="stylesheet" type="text/css" href="/css/animate.css" media="all">

    <!-- flexslider CSS -->
    <link rel="stylesheet" type="text/css" href="/css/flexslider.css">

    <!-- Revolution Slider CSS -->
    <link href="/css/revolution-slider.css" rel="stylesheet">
    <!-- jquery-ui.min CSS  -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">



    <!-- blog CSS -->
    <link rel="stylesheet" type="text/css" href="/css/blog.css" media="all">

    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">

    <script src="https://kit.fontawesome.com/166a70ea35.js" crossorigin="anonymous"></script>
</head>

<body class="404error_page">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


    <!-- end mobile menu -->
    <div id="page">



        <!--Container -->
        <div class="error-page">
            <div class="container">
                <div class="error_pagenotfound">
                
                    <b>
                    {{#if ota.overdo}}
                    Email đã được xác nhận.
                    {{/if}}

                    {{#if ota.overtime}}
                    Email đã hết hạn
                    
                    <a href="/account/remail" > <em>Gửi lại email</em> </a>
                    {{/if}}

                    {{#if ota.done}}
                    Xác nhận email thành công.
                    {{/if}}

                    {{#if empty}}
                    Mã xác nhận không đúng
                    {{/if}}
                    </b>
                    <br />
                    <a href="/" class="button-back"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp; Quay lại trang chủ</a>
                </div>
                <!-- end error page notfound -->

            </div>
        </div>
        <!-- Container End -->


        <!-- End Footer -->
        <!-- JS -->

        <!-- jquery js -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>

        {{!-- jquery validate --}}
        <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

        <!-- bootstrap js -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>


        <!-- owl.carousel.min js -->
        <script type="text/javascript" src="/js/owl.carousel.min.js"></script>

        <!-- bxslider js -->
        <script type="text/javascript" src="/js/jquery.bxslider.js"></script>

        <!-- Slider Js -->
        <script type="text/javascript" src="/js/revolution-slider.js"></script>

        <!-- megamenu js -->
        <script type="text/javascript" src="/js/megamenu.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var mega_menu = '0';

            /* ]]> */
        </script>

        <!-- jquery.mobile-menu js -->
        <script type="text/javascript" src="/js/mobile-menu.js"></script>

        <!--jquery-ui.min js -->
        <script type="text/javascript" src="/js/jquery-ui.js"></script>

        <!-- main js -->
        <script type="text/javascript" src="/js/main.js"></script>

        <!-- countdown js -->
        <script type="text/javascript" src="/js/countdown.js"></script>

</body>

<!-- Mirrored from htmlmystore.justthemevalley.com/404error.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:37:41 GMT -->

</html>