{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

<style>
  .page-title {
    display: flex;
    justify-content: space-between;
  }

  .checkbox>label {
    font-weight: bold;
    margin-left: 15px;
  }

  /* .password-group{
        display: none; */
  /* } */

  .box-authentication {
    width: 550px;
    margin-left: 70px !important;
  }

  .page-content {
    width: 40%;
    margin: auto;
  }

  label.error {
    display: inline-block;
    color: red;
    width: 200px;
  }
</style>

{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
  $('#txtDOB').datetimepicker({
    // format: 'd/m/Y H:i'
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });

  function validate() {
    if ($('#txtPassword').val() == "" ||
      $('#txtPassword').val() !== $('#txtConfirm').val()) {
      alert("Password và RePassword không khớp ")
      return false;
    }
    return true;
  };

  $(document).ready(function () {
    $("#frmRegister").validate({
      rules: {
        email: "required",
        raw_password: {
          required: true,
          minlength: 2,
        },

      },
      messages: {
        email: "Vui lòng nhập tên user",
        raw_password: {
          required: "Vui lòng nhập password",
          minlength: "Mật kẩu quá ngắn",
        },
      }
    });
  });
</script>
{{/section}}


<!-- Main Container -->
<section class="main-container col1-layout">
  <div class="main container">
    <div class="page-content">
      <div class="account-login">
        <div class="box-authentication">

          {{#if this.success_message}}
          <div class="alert alert-success alert-dismissible" style="width:300px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Thành công!</strong> {{success_message}}
          </div>
          {{/if}}

          {{#if this.err_message}}
          <div class="alert alert-danger alert-dismissible" style="width:300px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Lỗi!</strong> {{err_message}}
          </div>
          {{/if}}

          <h2 style="font-weight: bold;">ĐĂNG KÝ TÀI KHOẢN</h2>
          <form onsubmit="return validate();" method="POST" id="frmRegister" name="frmRegister">
            <div class="form-group">
              <label for="txtUsername">Email</label>
              <input type="text" class="form-control" id="txtUsername" name="email" placeholder="john" autofocus>
            </div>
          
            <button type="submit" class="btn btn-warning" style="margin-top: 10px;">
              <i class="fa fa-check" aria-hidden="true"></i>GỬI LẠI MAIL
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Main Container End -->


